@import url('https://fonts.googleapis.com/css?family=Merienda|Montserrat|Quicksand');

body {
    margin: 0;
    width: 100%;
    background-color: #476A6F;
    background-color: #fff;
    background-color: #E2E2E2;
    color: #C5C9A4;
    color: black;
    font-family: 'Quicksand';
}

h1 {
    font-family: sans-serif;
    color: #C5C9A4;
    color: black;
}

h2 {
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#left {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    padding: 10px;
    padding-top: 50px;
    float: left;
    text-align: right;
    background-color: #247BA0;
}

#left::-webkit-scrollbar {
    width: 12px;
    background-color: #247BA0;
}

#left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}

#left::-webkit-scrollbar-track {
    background-color: #247BA0;
}

#right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    width: 25%;
    padding: 10px;
    padding-top: 50px;
    background-color: #247BA0;
    float: right;
    text-align: right;
}

.num {
    width: 40px;
}

.scrollbar {
    overflow-y: auto;
}

#text {
    text-align: center;
    padding-top: 50px;
}

button {
    border-radius: 0px;
}