@import url('https://fonts.googleapis.com/css?family=Merienda|Montserrat|Quicksand');

body {
    margin: 0;
    width: 100%;
    background-color: #476A6F;
    background-color: #fff;
    background-color: #E2E2E2;
    color: #C5C9A4;
    color: black;
    font-family: 'Quicksand';
}

h1 {
    font-family: sans-serif;
    color: #C5C9A4;
    color: black;
}

h2 {
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#left {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    padding: 10px;
    padding-top: 50px;
    float: left;
    text-align: right;
    background-color: #247BA0;
    background-color: #5B9CB8;
    
}

#left::-webkit-scrollbar {
    width: 12px;
    background-color: #247BA0;
}

#left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}

#left::-webkit-scrollbar-track {
    background-color: #247BA0;
}

#right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    width: 25%;
    padding: 10px;
    padding-top: 50px;
    background-color: #247BA0;
    background-color: #5B9CB8;
    float: right;
    text-align: right;
}

.num {
    width: 40px;
}

.scrollbar {
    overflow-y: auto;
}

#text {
    text-align: center;
    padding-top: 50px;
}

button {
/*    border-radius: 1px;*/
    background-color: white;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
/*    font-size: 16px;*/
    margin: 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {opacity: 1}

input[type=text] {
/*    width: 100%;*/
/*    padding: 12px 20px;*/
    margin: 2px;
    box-sizing: border-box;
    border: 3px solid #BDDFED;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #226B8B;
}

input[type=number] {
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 2px;*/
    box-sizing: border-box;
    border: 3px solid #BDDFED;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid #226B8B;
}